.navbar-header {
    transition: 1s;
    transition-timing-function: cubic-bezier(0.8, 0.4, 0.6, 0.8);

    margin-top: 10px;
    background: #222222;
    border: 2px ridge #f2f2f2;
    border-left: 0;
    border-right: 0;
    box-shadow: 0  0 50px black;
    z-index: 1000
}

.navbar-brand {
    font-family: 'Lobster', serif;
    font-size: 40px;
    line-height: 15px;
    padding: 0;
}

.navbar-header .navbar-brand {

    width: auto;
    border: 2px ridge #e5e5e5;
    padding: 15px 5px;
}

.navbar-nav > li {
    display: block;
    width: 115px;
    border: 3px ridge #f2f2f2;
    border-left: 0;
    border-bottom: 0;
    text-shadow: 1.5px 1px 0 #f2f2f2;

    margin: 9px 0 0 7px;
    padding: 4px 0 0 0;
}

.navbar-nav > li > a > i {
    font-size: 1.8em;
}

.navbar-nav > li:hover {
    background: #555;
}

.navbar-nav > li:hover a {
    color: #1a1a1a;
}

/*------------------------6666666-------------------------*/

.inputMenu {
    position: absolute;
    right: 10px;
    top: 10px;

    background-color: #a1a1a1;

    width: 150px;
    height: 30px;

    border: 3px solid black;
    transition: 2s;
}

.navbar-header .inputMenu:hover {
    margin-right: 1px;
    width: 200px;
    height:400px;

    z-index: 100;

    border: 5px ridge #f2f2f2;
}


.navbar-header .inputMenu:hover input{
    z-index: 100;
    top: 10px;
}
.navbar-header input {
    position: relative;
    top: -300px;

    background: #555;
    color: #f2f2f2;
    float: right;
    width: 100px;
    margin: 12px 0 0 0;
    transition: 2s;
}

.navbar-header input:hover {
    width: 100%;
    margin: 15px 0 0 0;
}

/*------------------------6666666-------------------------*/

.dropdown .navbar-brand {
    width: 100px;
    font-size: 23px;
    padding: 11px 5px;
}

.dropdown {
    transition: 1s;
    transition-timing-function: cubic-bezier(0.8, 0.4, 0.6, 0.8);

    position: fixed;
    z-index: 1600;
    border: 2px ridge #f2f2f2;
    top: 75%;
    left: 2%;
    background-color: #222222;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100px;
    border: 2px ridge #f2f2f2;
    background-color: #222222;
    /*min-width: auto;*/
    box-shadow: 0 0 1px black;
    padding: 5px 10px;
    margin: 3px 0;
    z-index: 100;
}

.dropinput {
    display: block;
    position: absolute;
    bottom: 100px;
}

.dropdown span, p, li {
    color: #f2f2f2;
    transition: 1s;
    text-shadow: 2px 1.2px 0 #7b7b7b;
}

.dropdown-contentInput > input {
    background: #555;
    color: #f2f2f2;
    min-width: 100px;
}

.dropdown-contentInput {
    display: none;
    position: absolute;
    bottom: 100px;
    border: 2px ridge #f2f2f2;
    background-color: #222222;
    min-width: 300px;
    box-shadow: 0  0  1px black;
    padding: 5px 10px;
    margin: 3px 0;
    z-index: 2500;
}

.dropdown-contentInput:hover {
    width: 200px;
}

.dropdown-content > ul > li {
    width: 70px;
    margin: 0;
    padding-top: 10px;
}

.dropdown-content > ul {
    width: auto;
    transition: 2s;
    margin: 0;
    padding: 0;
}

.dropdown-content a {
    margin-top: 20px;
    color: #f2f2f2;
    text-shadow: 1.5px 1px 0 #a1a1a1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
